.tabs>ul {
    padding: 0;
}

.tabs .trigger {
    list-style-type: none;
    padding: 10px;
    background: var(--bg-dark-color);
    margin: 4px;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

.tabs .trigger.active {
    background: var(--highlight);
    color: var(--highlight-text);
}

.tabs .content {
    background: var(--bg-light-color);
    padding: 10px 20px;
    border-radius: 6px;
    display: none;
}

.tabs .content.active {
    display: block;
}